{% include "./layout/top.html" %}

<div class="wrap">
    <div class="outerbox" >
        <div class="innerbox">
            <h2 class="welcome">WELCOME!</h2> 
            <div id = "gogobox">
                <a  id="gogo" href="/board/list" >게시판 구경하기</a>
            </div>
        </div>
    </div>
</div>


{% include "./layout/bottom.html" %}
list.html

{% include "../layout/top.html" %}

<div class="wrap">
    <div class="outerbox" >
        <div class="innerbox">
            <h2 class="main">게시판</h2>
            <div class="mainbox">
                <table id="table1">
                    <tr id ="fields" class="tb">
                        <td class="td0">
                            <span>All</span>
                            <span><input name="chk" type="checkbox" onclick="checkAll()"></span>
                            
                        </td>
                        <td class="td1">번호</td>
                        <td class="td2">제목</td>
                        <td class="td3">작성자</td>
                        <td class="td4">수정 날짜</td>
                        <td class="td4">작성 날짜</td>
                        <td class="td5">조회수</td>
                    </tr>
                    <tr class="tb">{% for item in board_db %}
                        <td class="td0"><input  name="chk" type="checkbox" ></td>
                        <td class="td1">{{item.number}}</td>
                        <td class="td2" id="aa"><a href="/board/view?idx={{item.idx}}">{{item.subject}}</a></td>
                        <td class="td3">{{item.writer}}</td>
                        <td class="td4">{{item.motoday}}</td>
                        <td class="td4">{{item.today}}</td>
                        <td class="td5">{{item.hit}}</td>
                    </tr>{% endfor %}
                </table>
                <div class="btnbox">
                    <button class="btn"><a href="/">돌아가기</a></button>
                    <button class="btn"><a href="/board/write">글쓰기</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function checkAll(checkAll){
        console.log(checkAll);
        let checkboxes=document.getElementsByName("chk");
        console.log(checkboxes);
        checkboxes.forEach((checkbox)=>{
            checkbox.checked=checkAll.checked;
        })
    }

</script>

{% include "../layout/bottom.html" %}