<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #textbox{
            width:300px;
            height:500px;
        }
    </style>
</head>
<body>
    <form method="post" action="./success">
        제목:<input type ="text" name="name"><br>
        내용:<input id = "textbox" type = "text" name = "text">
        <input type = "submit">
    </form>
</body>
</html>