{% include "../layout/top.html" %}

내가 write이야

<div class="wrap">
    <div class="outerbox" >
        <div class="innerbox">
            <h2 class="main"> 글 작성하기</h2>
            <form method="post"  action="/board/writedone">
                <button type=submit name = "name" disabled onclick="enter()"; style="display:none;"></button> <!-- enter하면 입력되지 않도록 방지-->
                <div class="mainbox">
                    <div class="subbox">
                        <div class="subsubbox">
                            <span class="sub">제목 :</span>
                        </div>
                        <input id="subject_tx" class ="txbox" type="text" name="subject"> 

                    </div>
                    <div class="wribox">
                            <div class="subsubbox">
                        <span class="wri">작성자 :</span>
                            </div>
                        <input id="writer_tx" class = "txbox" type="text" name="writer">
                        <br/>
                    </div>
                    <div class="d">
                        <div class="subsubbox">
                            <span class="con">내용 :</span>
                        </div>
                        <textarea id="content_tx" onckeyup="enter()" class = "conbox" type="textbox" name="content"> </textarea>
                        <!--textarea name="content"></textarea-->
                                
                    </div>
                </div>

                <div class="btnbox">       
                    <button class="btn"><a href="/board/list">돌아가기</a></button>
                    <input class ="btn" type="submit" value="글작성" onclick="val()">
                </div> 
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function val (){
        let subject_tx = document.getElementById("subject_tx");
        let writer_tx = document.getElementById("writer_tx");
        let content_tx = document.getElementById("content_tx");

        if(subject_tx.value==""){
            alert("제목을 입력해주세요르레히호");
            event.preventDefault();
        } else if(writer_tx.value==""){
            alert("작성자를 입력해주세요");
            event.preventDefault();
        } else if(content_tx.value==""){
            alert("내용을 입력해주세요");
            event.preventDefault();
        }
    }
    function enter(){
        if(window.event.keyCode ==13){
            alert("d");
        document.getElementsByName("content").innerHTML+="<br/>";
    }
}
</script>

{% include "../layout/bottom.html" %}