join html 입니다.
<form action="/user/join_sucess" id="login_form" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>아이디</td>
            <!--중복체크 Ajax-->
            <td><input type="text" id="userid" name="userid">
                <p id="userid_msg"></p>
            </td>
        </tr>
        <tr>
            <td>패스워드</td><!-- 패스워드 확인 두번입력하게-->
            <td><input type="password" id="userpw" name="userpw"></td>
        </tr>
        <tr>
            <td>패스워드확인</td>
            <td><input type="password" id="userpw_check"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="username" maxlength="20"></td>
        </tr>
        <tr>
            <td>성별</td>
            <td>
                <input type="radio" name="gender" id="gender" value="0" checked>남자
                <input type="radio" name="gender" id="gender" value="1">여자
            </td>
        </tr>
        <tr>
            <td>이미지</td>
            <td><input type="file" name="img"></td>
        </tr>

    </table>

    <input type="button" id="login_submit" value="로그인">
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
    const pwd1 = document.querySelector('#userpw');
    const pwd2 = document.querySelector('#userpw_check');
    const btn = document.querySelector('#login_submit');
    const login_form = document.querySelector('#login_form');
    const userid_msg = document.querySelector('#userid_msg');
    const userid = document.querySelector('#userid');

    function password_check() {
        console.log(pwd1.value, pwd2.value);
        return pwd1.value == pwd2.value;
    }

    async function userid_check() {
        
        let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);
        //ajax 가져옴 중복:false 중복x:true             promise 객체
        login_flag = data.data.login;
        if (login_flag) {
            userid_msg.innerHTML = '올바른 아이디입니다.'
            userid_msg.style.color = 'green';
        } else {
            userid_msg.innerHTML = '중복된 아이디입니다.'
            userid_msg.style.color = 'red';
        }
    }

    userid.addEventListener('focusout', userid_check);


    btn.addEventListener('click', () => {
        pwd_check = password_check();
        if (pwd_check) {
            login_form.submit();
        } else {
            alert('패스워드가 서로 다르다');
            pwd1.value = '';
            pwd2.value = '';
            pwd1.focus();
        }
        // login_frm.submit();
    })
</script>