*{
    margin:0;
    padding:0;
    font-family: 'Gamja Flower', cursive;    

}



a{
    text-decoration: none;
    color:black;
    
}

a:hover{
    color:lightcoral;
}

ul,li{
    list-style: none;
}



/*         in COMMON         */




.wrap{
    width:100%;
    background-color: rgb(218, 157, 153);
}

.outerbox{
    width:100%;
    height:100%;
    
}

.innerbox{
    background-color: white;
    width:1080px;
    height:750px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 2px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:8%;

}
#gogo{
    width:100px;
    height:50px;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    box-sizing: border-box;
}

#gogo:hover{
    transition: .5s ease-in-out;
    background-color: darkseagreen;
    color:white;
}

.main{
    width:1080px;
    height:80px;
    text-align: center;
    font-size:50px;
    color:salmon;
    margin-top:30px;
}


.mainbox{
    width:1000px;
    height:550px;
    padding:20px 20px 20px 38px;
}

.mainbox1{
    width:1000px;
    height:520px;
    padding:20px;
}

.btn{
    width:120px;
    height:40px;
    font-size: 16px;
    background-color: lightcoral;
    border-radius: 4px;
    border:1px solid lightcoral;
    color:white;
    align-items: center;
    margin-left: 20px;

}

.btn:hover{    
    color:lightcoral;
    background-color: white;
    border:2px solid lightcoral;
}

.btnbox{
    width:500px;
    height:50px;
    position: absolute;
    top: 660px;
    left: 54%;
    
}


.btn>a{
    padding:10px;
}



.subbox,.wribox{
    width:940px;
    height:40px;

}

.subsubbox{
    width:100px;
    height:40px;
    display: inline-block;
    float:left;
    text-align: center;
    padding: 0 0 0 7px;
    box-sizing: border-box;
}

.conbox{
    width:835px;
    /* height:400px; */
    float:left;
    display: inline;
    border:1px solid darkslategray;
    text-align: left;
    padding:10px 0 350px 7px;
    box-sizing: border-box;
}

.sub,.wri,.con{
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.txbox{
    width:835px;
    height:35px;
    border:1px solid darkslategray;
    padding:5px;
    box-sizing: border-box;
    
}


input{
    width:100%;
    
}







/*          index            */

.welcome{
    width:1000px;
    height:200px;
    color:darkseagreen;
    text-align: center;
    padding:90px 0 0 0 ;
    font-size:70px;
    display:inline-block;
}

#gogobox{
    width:1000px;
    height:400px;
    padding:250px 0 0 550px;
    display:inline-block;
    box-sizing: border-box;
}

#gogo{
    font-size: 40px;
    text-align:center;
    color:darkslategray;

}





/*          board           */

#table1{
    border:1px solid rgba(221, 220, 220, 0.994);
    box-sizing: border-box;
    border-collapse:collapse;
}

#fields{
    color:rgb(48, 48, 48);
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 227, 232);
    font-weight: bold;
}   



td{
    text-align: center;
    border:1px solid rgba(221, 220, 220, 0.994);
    box-sizing: border-box;
}

#aa{
    text-align:center;
}


.td0{
    width:100px;
    height:40px;
    padding:9px 0;
}
.td0>span>input{
    width:15px;

}

.td1{
    width:70px;
    height:40px;
    
}


.td2{
    width:400px;
    height:40px;
}

.td3{
    width:150px;
    height:40px;
}

.td4{
    width:200px;
    height:40px;
}

.td5{
    width:100px;
    height:40px;
}