<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>

<a href="/board/list">게시판가기</a>

<!-- 
{% for item in title %}
    <div>{{ item.subject }} {{ item.today }}</div>
{% endfor %}
    <input type="button" value="글쓰기" onclick="location.href='./join.html'"> -->
</body>
</html>

<!--글쓰기 - > 리스트로 이동 ->제목클릭->HTML view(게시물내용)
->글쓰기,수정하기 버튼 중 수정하기 누르면->다시 리스트
!-->