<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
  
    <h2>게시판 리스트 입니다.</h2>
    <div class="board">
         <table> <!--표나 게시판 만들때 씀 -->
             <tr> <!--한 줄을 만들때 -->
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>날짜</td>
                <td>조회수</td>
            </tr>
            {% for item in list %}
            <tr>
                <td>{{item.idx}}</td>
                <td> <a href="/view?idx={{item.idx}}&hit={{item.hit}}"> {{item.subject}} </a> </td>
                <td>{{item.board_name}}</td>
                <td>{{item.today}}</td>
                <td>{{item.hit}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/write" class="write_btn">글쓰기</a>
        <!-- <form method="post" action="./success">
            <input id = "textbox" type = "text" name = "text"> -->
            

    </div>
</body>
</html>

